[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Chris McDonald
	email = chmcdonald@microsoft.com
[push]
	default = current
[diff]
	algorithm = patience
[core]
	editor = nvim
[alias]
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
