[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Chris McDonald
	email = chris.mcdonald@team.bumble.com
[push]
	default = current
[diff]
	algorithm = patience
[core]
	editor = nvim
